div.container.projectDetail
  div
    div(data-ng-hide="settings.editKey == 'name'")
      h2 {{project.name}}
      a(data-click-btn, data-ng-click="settings.editKey = 'name'") Edit
    div(data-ng-show="settings.editKey == 'name'")
      textarea(data-ng-model="editingProject.name",placeholder="Edit name description")
      a(data-click-btn, data-ng-click="save()") Save
      a(data-click-btn, data-ng-click="cancelEditing('name')") Close

  div
    h3 Status
    p current state, project health, project priority, project status, project start date, project due date, project users

  div
    h3 Description
    div(data-ng-hide="settings.editKey == 'description'")
      a(data-click-btn, data-ng-click="settings.editKey = 'description'") Edit
      div {{project.description}}
    div(data-ng-show="settings.editKey == 'description'")
      textarea(data-ng-model="editingProject.description",placeholder="Edit project description")
      a(data-click-btn, data-ng-click="save()") Save
      a(data-click-btn, data-ng-click="cancelEditing('description')") Close

  div
    h3 Progress
    div
      a.btn.btn-medium.btn-primary(data-ng-click="settings.editKey = 'newStage'", href="javascript:void(0)", data-ng-hide="settings.editKey == 'newStage'") Add Stage
      div(data-ng-show="settings.editKey == 'newStage'")
        input(data-ng-model="newStage.name", placeholder="new stage name")
        a(data-click-btn, data-ng-click="addStage()") Save
        a(data-click-btn, data-ng-click="cancelEditing('newStage')") Close

    div(data-project-stages, data-settings="projectStagesSettings")

  h3 Data
  .row
    .col-sm-12
      pre.code {{project | json}}
